div#grid div.vista {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    overflow: auto;
    
    div.vista-container {
        display: grid;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 10px;
    }

    div.caja {
        background-color: #288cffe0;
        border: 1px solid #0075ff;
    }
}